/node_modules
/public/hot
/public/images/*
/public/mix-manifest.json

#/public/frontend/js/frontendChunks/*
#/public/frontend/css/app.css
#/public/frontend/js/app.js
#/public/frontend/js/app.js.gz

/public/public/frontend/js/frontendChunks/*
/public/public/frontend/js/app.js
/public/public/frontend/js/app.js.gz
/public/frontend/js/mix.js
/public/files/*
/storage/*.key
/vendor
.env
composer.lock
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

!public/images/.gitkeep
*.zip
