/* playfair-display-500 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  src: url('playfair-display-v28-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('playfair-display-v28-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('playfair-display-v28-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('playfair-display-v28-latin-500.woff') format('woff'), /* Modern Browsers */
       url('playfair-display-v28-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('playfair-display-v28-latin-500.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
/* playfair-display-600 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  src: url('playfair-display-v28-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('playfair-display-v28-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('playfair-display-v28-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('playfair-display-v28-latin-600.woff') format('woff'), /* Modern Browsers */
       url('playfair-display-v28-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('playfair-display-v28-latin-600.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
/* playfair-display-700 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('playfair-display-v28-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('playfair-display-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('playfair-display-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('playfair-display-v28-latin-700.woff') format('woff'), /* Modern Browsers */
       url('playfair-display-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('playfair-display-v28-latin-700.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
/* playfair-display-italic - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url('playfair-display-v28-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('playfair-display-v28-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('playfair-display-v28-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('playfair-display-v28-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('playfair-display-v28-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('playfair-display-v28-latin-italic.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
/* playfair-display-500italic - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 500;
  src: url('playfair-display-v28-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('playfair-display-v28-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('playfair-display-v28-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('playfair-display-v28-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('playfair-display-v28-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('playfair-display-v28-latin-500italic.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
/* playfair-display-600italic - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 600;
  src: url('playfair-display-v28-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('playfair-display-v28-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('playfair-display-v28-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('playfair-display-v28-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('playfair-display-v28-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('playfair-display-v28-latin-600italic.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
/* playfair-display-700italic - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  src: url('playfair-display-v28-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('playfair-display-v28-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('playfair-display-v28-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('playfair-display-v28-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('playfair-display-v28-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('playfair-display-v28-latin-700italic.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
/* playfair-display-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('playfair-display-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('playfair-display-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('playfair-display-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('playfair-display-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('playfair-display-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('playfair-display-v28-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}